*, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cairo', sans-serif !important;
    min-height: 100vh;
    direction: rtl;
}

a {
    text-decoration: none !important;
    color: white !important;
    outline: none;
}

nav {
    padding: 10px;
}

.login-nav {
    background: #1277ee;
    color: white;
    padding: 5px;
    border: 1px solid #1277ee;
    border-radius: 5px;
    outline: none;
}

.login-nav:hover {
    background: transparent;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.register-nav {
    background: transparent;
    color: white;
    padding: 5px;
    border: 1px solid #1277ee;
    border-radius: 5px;
    outline: none;
}

.register-nav:hover {
    background-color: #1277ee;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.urls {
    background: #2e3e4e;
    min-height: 400px;
    max-width: 90%;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0px #383838;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.modify-url {
    background: #2e3e4e;
    min-height: 600px;
    max-width: 90%;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0px #b5b5b5;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/* Start Media Query (Responsive) */

@media only screen and (max-width: 768px) {
    .banner .card {
        position: static;
        min-height: auto;
        width: 100%;
        background: #fbfbf8;
    }
    .nav-links {
        gap: 2em;
        margin-bottom: 4%;
        margin: 0;
        padding: 0;
    }
    .logo {
        text-align: center;
        margin-bottom: 4%;
    }
    .nav-buttons {
        align-content: stretch;
        justify-content: center;
        margin-bottom: 4%;
    }
    .menu-navbar {
        overflow-x: scroll;
        justify-content: start;
    }
    .recent-courses, .recommended, .handpicked {
        margin-bottom: 15%;
    }
    .footer {
        display: block;
    }
    .footer-links {
        gap: 10px;
        flex-direction: column;
        align-items: start;
    }
    nav .col-lg-6 {
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
    }
}

/* End Media Query */